body {
  background-color: #7aecb7;
}

table {
  display: flex;
  flex-direction: row;
}

p {
  display: flex;
  justify-content: center;
  margin: 5px;
}

input {
  border: 1px solid #59e4a3;
  background-color: #fff;
  font-size: 18px;
  padding: 10px 14px;
  margin-right: 5px;
  border-radius: 5px;
}
ul {
  list-style-type: none;
  margin: 30px;
  padding: 0px;
  overflow: hidden;
  background-color: #e7f0b6;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.menu) {
  background-color: #19e7d6;
}

.menu {
  background-color: #19e7d6;
}

.remove {
  display: none;
}

.warnings {
  font-size: 15px;
  color: red;
}

.column {
  display: flex;
  flex-direction: column-reverse;
}

.row {
  display: flex;
  flex-direction: row-reverse;
}

.start-game {
  box-sizing: border-box;
  margin: 30px;
  margin-top: 40px;
  padding: 40px;
  border: 1px solid #59e4a3;
  background-color: #e7f0b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-game {
  font-size: 35px;
  background: none;
  border: none;
  color: rgba(0, 38, 255, 0.719);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.send-button {
  font-size: 35px;
  background: none;
  border: none;
  color: #3abeb5;
  /* margin-left: 10px; */
}
.Thewinner {
  font-size: 70px;
  /* background: none;
    border: none; */
  color: #fd0000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.name-game {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: #7daab2;
  margin-left: 4px;
}

.player-1 {
  width: 240px;
  height: 240px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(201, 62, 62);
}
.player-2 {
  width: 240px;
  height: 240px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(89, 89, 233);
  flex-direction: column;
}

.winner {
  font-weight: 300;
  color: rgb(89, 89, 233);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #19e7d6;
}
.active .player-name {
  font-weight: 600;
}
.not-active {
  background-color: #fff;
}
.not-active .player-name {
  font-weight: 200;
}
.wrapper-1 {
  width: 300px;
  height: 300px;
  box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.wrapper-2 {
  width: 300px;
  height: 300px;
  box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.player-name {
  font-size: 70px;
  text-align: center;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  background-color: rgb(61, 138, 254);
  border: 1px solid black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
  margin: 50px;
}

.show-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slot {
  width: 40px;
  height: 40px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 5px;
}
