<html>
	<head>
		<meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/static/Css/style.css">
		<script src="/static/JavaScript/RequestsServer.js" charset="utf-8"></script>		
	</head>
	<body>
		<ul class="nenuhome">
			<li><a class="active" href="#home">Home</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#about">About</a></li>
		</ul>
	</body>
	<body>
		<div class="start-game" id = start-game>
            <div class="name-game"> Game four in a row</div>
            <p> Enter a number of rows between 4 And 20 </p>
            <p>Enter a sequence for a win between 3 And 19</p>
            <p><input class = "name-1" id ="name-1-input"  placeholder="Enter name user" onkeypress="EnterNewRoom(event)"></p>
            <form id="gameInput">
        		<input type="number" id ="rows-input"  placeholder="Enter a row" onkeypress="EnterNewRoom(event)">
        		<input type="number" id ="columns-input"  placeholder="Enter a column" onkeypress="EnterNewRoom(event)">
        		<input type="number" id ="victory-score-input"  placeholder="winning score" onkeypress="EnterNewRoom(event)">
        	</form>
            <p><button class="send-button"  onclick = "NewRoom()"><i class="ion-ios-checkmark-outline"></i></button></p>
            <p class="warnings remove" id = Row&ColumnLittle20> Rows and columns must be small or equal to 20 </p>
            <p class="warnings remove" id = Row&ColumnBig3> Rows and columns must be greater than 3</p>
        	<p class="warnings remove" id = Winlittle> Win must be smaller than row and colum </p>
            <p class="warnings remove" id = fillcells> Must fill cells with values</p>  
		</div>
		<script src="/static/JavaScript/appfileGame.js" charset="utf-8"></script>
	</body>
</html>
